<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
</head>
<body>
<form action="{% url 'home' %}">
    <input type="text" name="search">
    <button type="submit">Поиск</button>
</form>
<h1>Список услуг</h1>

{% for i in data%}
        <a href="{% url 'service' i.id%}">{{i.name}}</a><br>
        <img src="{{i.image.url}}" alt="" style="width:100px;height:100px"><br>

{%endfor%}


        <h2>Запись на процедуры</h2>
    <form method="POST" >
        {% csrf_token %}
        <table>
            {{ form }}
        </table>

            <input type="submit" value="Засисаться">
    </form>
</body>
</html>