{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<img src="{% static 'img/2023-09-12_20-28-02фото.jpg' %}" alt="Здесь фото гор" style="width:1100px;height:100px">
<br>

{% if not user.is_authenticated %}
<a href="{% url 'authorization' %}">Авторизация</a><br>
<a href="{% url 'registration' %}">Регистрация</a><br>
{%else%}
<a href="{% url 'exit_account' %}">Выход из аккаунта</a><br>
<a href="{% url 'personal_account'%}">Личный кабинет</a>
<p>{{user.username}} {{user.phone}}</p>
{%endif%}

<form action="{% url 'home' %}">
    <input type="text" name="search" title="Введи название процедуры">
    <button type="submit"><b>Поиск</b></button>
</form>


<em><h1>Список услуг</h1></em>

{% for service in data%}
<ul type="circle">
    <li><b><a href="{% url 'service' service.id%}" title="Нажми на меня">{{service.name}}</a></b></li>
</ul>
<img src="{{service.image.url}}" alt="" style="width:100px;height:100px">
<hr>
{%endfor%}


</body>
</html>