<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Услуга</title>
</head>
<body title="Скорее записывайся)))">
<em><h2>{{ data.name}} </h2></em>
<img src="{{data.image.url}}" alt="" style="width:100px;height:100px"><br>
<ul>
    <li><h5>{{ data.description}}</h5></li>
    <li><h5><big>{{ data.price}}</big> рублей</h5></li>
</ul>


<h2>Выбрать время</h2>


<form action="{% url 'recording' %}">
<h2>{{message}}</h2>
    <select name="choice" size="{{count}}">
        {%for shedule in time%}
        <option value="{{ shedule.id }}">{{shedule.date.start_date}}</option>
        {%endfor%}
    </select>

    {% if user.is_authenticated %}
    <button type="submit">Записаться</button>
    {% else %}
     <button type="submit" disabled>Записаться</button>
    {% endif %}

</form>


</body>
</html>